body {
            font-family: 'Pangolin', cursive;
            background-color: rgb(104, 170, 137);
            margin: 0;
            padding: 0;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            height: 100vh;
        }

        .timer {
            position: absolute;
            top: 9%;
            width: 100%;
            text-align: center;
            font-size: 5vh;
        }

        .game-board {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            width: 50vmin;
            height: 50vmin;
            margin: auto;
        }

        .cell {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 33.33%;
            height: 33.33%;
            border: 1px solid #000;
            box-sizing: border-box;
            background-color: aliceblue;
            font-size: 7vh;
        }

        .back-link {
            position: absolute;
            bottom: 10px;
            left: 10px;
            text-decoration: none;
            color: black;
            font-size: 20px;
        }